$sidebar-bg-color: #fff !default;
$sidebar-color: #730fc3 !default;
$sidebar-width: 250px !default;
$sidebar-collapsed-width: 60px !default;
$highlight-color: #730fc3 !default;
$submenu-bg-color-collapsed: #fff !default;
$icon-bg-color: #fff !default;
$icon-size: 20px !default;

@import "~react-pro-sidebar/dist/scss/styles.scss";
